body {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.titre-centre {
    text-align: center;
}

.grille {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 450px;
    height: 450px;
    border: 3px solid black;
}

.grille-3x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
}

.cellule {

    border: 1px solid #ccc;
    

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 20px;
    font-weight: bold;
}

